.admin-jobs {
  &__detail {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__richtext-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }

  &__actions {
    justify-content: flex-end;
    width: 100%;
  }

  @media (width <= 992px) {
    &__richtext-grid {
      grid-template-columns: 1fr;
    }
  }
}
