.card-job-content {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-top: 20px;
  padding: 12px 20px;
}
// .preview-content {
//   padding-bottom: 20px;

//   p {
//     margin: 10px;
//   }
//   font-size: 16px;
//   border-bottom: 1px dashed #ddd;
//   &:last-child {
//     border: none;
//   }
//   ul {
//     padding-inline-start: 40px;
//   }
//   li {
//     font-size: 16px;
//     padding: 0;
//     p {
//       margin: 0;
//     }
//     &::marker {
//       color: red;
//     }
//     li {
//       list-style-type: circle;
//       padding: 12px 0 0 0;
//     }
//   }
  
// }