.job-detail {
  position: relative;
}
.background-gradient {
  width: 120vw;
  height: 400px;
  left: -12%;
  position: absolute;
  background: linear-gradient(270.08deg, #54151C 7.4%, #121212 54.81%);
  border-radius: 0 0 40% 40%;
}