#profile
SPRING_PROFILES_ACTIVE=your_profile (example: dev, prod)
#server
SERVER_PORT=your_server_port (default 8080)
#database

#if running mysql in network container (docker) use mysql:3306 , if using mysql in host , use localhost:3306
DBMS_CONNECTION=your_db_connection (example: jdbc:mysql://localhost:3306/itviec_db)
DBMS_PASSWORD=your_password (example: root)
DBMS_USERNAME=your_username (example: root)
#jwt
SECRET_KEY=your_secret_key (example: )
JWT_ACCESS_EXP_MS=your_jwt_access_exp_ms (example: 15000)
JWT_REFRESH_EXP_MS=your_jwt_refresh_exp_ms (example: 60000)

#aws
AWS_BUCKET_NAME= your_bucket_name (example: )
AWS_REGION_STATIC= your_aws_region (example: ap-southeast-1)
AWS_ACCESS_KEY= your_aws_access_key (example: )
AWS_SECRET_KEY= your_aws_secret_key (example: )

#mailtrap
MAILTRAP_USERNAME=your_mailtrap_username (example: )
MAILTRAP_PASSWORD=your_mailtrap_password (example: )